body {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.toast {
    width: 812px;
    float: right;
}

.wrapper {
    width: 100px;
    height: auto;
    background-color: #1e1e1e;
    float: right;
}

.main {
    margin: 12px 16px 12px 56px;
    position: relative;
}

.main::before {
    font-size: 24px;
    top: calc(50% - 12px);
    left: -40px;
    line-height: 24px;
    position: absolute;
}

/* Success Notification*/

.success {
    background-image: url('https://cdn.discordapp.com/attachments/717880300163825745/990355925015592990/onay.png');
    padding: 5px 5px 5px 5px;
}


/* Info Notification*/


.info {
    background-image: url('https://cdn.discordapp.com/attachments/717880300163825745/990357586459131955/info.png');
    padding: 5px 5px 5px 5px;
}


/* Warning-Error Notification */

.warning {
    background-image: url('https://cdn.discordapp.com/attachments/717880300163825745/990356819497091132/warning.png');

    padding: 5px 5px 5px 5px;
}
